<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unlock</key>
	<string>false</string>
	<key>level1</key>
	<dict>
		<key>highestStar</key>
		<integer>0</integer>
		<key>timeCount</key>
		<integer>100000</integer>
		<key>beginnerBadge</key>
		<integer>0</integer>
		<key>computentBadge</key>
		<integer>0</integer>
		<key>proficientBadge</key>
		<integer>0</integer>
		<key>expertBadge</key>
		<integer>0</integer>
	</dict>
	<key>level2</key>
	<dict>
		<key>highestStar</key>
		<integer>0</integer>
		<key>timeCount</key>
		<integer>100000</integer>
		<key>beginnerBadge</key>
		<integer>0</integer>
		<key>computentBadge</key>
		<integer>0</integer>
		<key>proficientBadge</key>
		<integer>0</integer>
		<key>expertBadge</key>
		<integer>0</integer>
	</dict>
	<key>level3</key>
	<dict>
		<key>highestStar</key>
		<integer>0</integer>
		<key>timeCount</key>
		<integer>100000</integer>
		<key>beginnerBadge</key>
		<integer>0</integer>
		<key>computentBadge</key>
		<integer>0</integer>
		<key>proficientBadge</key>
		<integer>0</integer>
		<key>expertBadge</key>
		<integer>0</integer>
	</dict>
	<key>level4</key>
	<dict>
		<key>highestStar</key>
		<integer>0</integer>
		<key>timeCount</key>
		<integer>100000</integer>
		<key>beginnerBadge</key>
		<integer>0</integer>
		<key>computentBadge</key>
		<integer>0</integer>
		<key>proficientBadge</key>
		<integer>0</integer>
		<key>expertBadge</key>
		<integer>0</integer>
	</dict>
	<key>level5</key>
	<dict>
		<key>highestStar</key>
		<integer>0</integer>
		<key>timeCount</key>
		<integer>100000</integer>
		<key>beginnerBadge</key>
		<integer>0</integer>
		<key>computentBadge</key>
		<integer>0</integer>
		<key>proficientBadge</key>
		<integer>0</integer>
		<key>expertBadge</key>
		<integer>0</integer>
	</dict>
	<key>level6</key>
	<dict>
		<key>highestStar</key>
		<integer>0</integer>
		<key>timeCount</key>
		<integer>100000</integer>
		<key>beginnerBadge</key>
		<integer>0</integer>
		<key>computentBadge</key>
		<integer>0</integer>
		<key>proficientBadge</key>
		<integer>0</integer>
		<key>expertBadge</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
